body {
  box-sizing: content-box;
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
  margin: 0; /* Reset default margin */
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 100%; /* Ensure full width */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  right: 0; /* Align to the right of the viewport */
  background-color: black; /* Match background color */
  z-index: 1000; /* Ensure it's above other elements */
  border-bottom: solid 1px seashell;
}

.logo img {
  margin: 10px;
  height: 50px;
}

/* NAV menu */

.nav-menu {
  display: flex;
  margin-right: 10px; /* Adjust margin as needed */
  flex-wrap: wrap;
}

figure {
  margin-left: 0px;
}

.nav-menu a {
  margin-left: 15px;
  text-decoration: underline;
  color: seashell;
}

/* HEADER */

header {
  display: flex;
  height: 700px;
  max-width: 1200px;
  background-image: url("images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  margin: auto;
  padding-top: 69px;
}

.header-text {
  width: 100%;
  background-color: black;
}

/* MAIN */

/* Tea of the month */

.teaOfTheMonth {
  display: flex;
  flex-basis: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

figure {
  text-align: center;
  margin: 10px;
}

.tiles img {
  max-width: 300px;
  max-height: 200px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}